<h1>New Running</h1>

<%= render 'form', running: @running %>

<%= link_to 'Back', runnings_path %>
<table border="1">
  <tr>
    <th>Base</th>
    <th>Number</th>
  </tr>
  <tr>
    <th>Home</th>
    <th>0</th>
  </tr>
  <tr>
    <th>First</th>
    <th>1</th>
  </tr>
  <tr>
    <th>Second</th>
    <th>2</th>
  </tr>
  <tr>
    <th>Third</th>
    <th>3</th>
  </tr>
</table>
