<%= render 'application/header' %>

<h1>New Actness</h1>

<%= render 'form', actness: @actness %>

<%= link_to 'Back', actnesses_path %>
<%= link_to 'Situation', situations_path %>
<table border="1">
  <tr>
    <th>Ball type</th>
    <th>Number</th>
  </tr>
  <tr>
    <th>Fast Ball</th>
    <th>1</th>
  </tr>
</table>
<table border="1">
  <tr>
    <th>Strike or Ball</th>
    <th>Number</th>
  </tr>
  <tr>
    <th>Ball</th>
    <th>1</th>
  </tr>
  <tr>
    <th>Strike</th>
    <th>2</th>
  </tr>
</table>