<%= render 'application/header' %>

<h1>Welcome</h1>
<h3>Product by tkmsaaaam.</h3>
<%= link_to 'Add a Record', new_game_path %>|
<%= link_to 'Check Records', games_path %>

<%= javascript_pack_tag 'hello_vue' %>
