<%= render 'application/header' %>
<h1>Welcomep</h1>
<h3>Product by tkmsaaaam.</h3>
<% if user_signed_in? %>
  <%= link_to 'Add_a_Record', new_game_path %>|
  <%= link_to 'Check_Records', games_path %>
<% end %>

<%= javascript_pack_tag 'hello_vue' %>
