<%= render 'application/header' %>
<h1>Welcome Baseball App</h1>
<h3>Product by tkmsaaaam.</h3>
<%= link_to 'Add_a_Record', new_game_path %>|
<%= link_to 'Check_Records', games_path %>

<%= javascript_pack_tag 'hello_vue' %>
