<h1>Baseball App</h1>
<% if user_signed_in? %>
  <%= current_user.email%>
  <%= link_to 'SignOut', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'SignIn', new_user_session_path %>/
  <%= link_to 'SignUp', new_user_registration_path %>
<% end %>
